<div id="deposit" style="width:80%;margin: 0 auto;">
	<form role="form">
	  <div class="form-group">
	    <label for="deposit">Deposit To:</label>
	    	<table class="transfersForm">
			  <tr class="helpRow">
			    <td align="left" onClick="toggleAccountsDataFrom();"><span id="selectAccountFrom" style="color:grey; opacity:0.5">Select Account</span></td>
			    <td align="right"></td>
			  </tr>
			</table>
			  <table id="accounts" class="accountsFrom hide">
			      <tr>
			          <th>Banking</th>
			          <th style="text-align:right;padding-right: 20px">Balance</th>
			      </tr>
			  </table>
			  
			  <div id="Banking Accounts From" class="accountsFrom hide">
			  </div>
			  
			  <table id="accounts" class="accountsFrom hide">
			      <tr>
			          <th>Credit</th>
			          <th style="text-align:right;padding-right: 20px">Balance</th>
			      </tr>
			  </table>
			  
			  <div id="Credit Accounts From" class="accountsFrom hide">
			  </div>  
			  <table id="accounts" class="accountsFrom hide">
			      <tr>
			          <th>Investment</th>
			          <th style="text-align:right;padding-right: 20px">Balance</th>
			      </tr>
			  </table>
			  
			  <div id="Investment Accounts From" class="accountsFrom hide">
			  </div>
			</div>

	  <div class="form-group">
	    <label for="amount">Cheque Amount:</label>
	    <input type="text" pattern="[0-9]*" placeholder="Enter Amount" class="form-control" id="amount">
	  </div>

	  <div class="form-group">
	    <label for="note">Note:</label>
	    <input type="text" placeholder="Enter optional note" class="form-control" id="note">
	  </div>

	  <div class="form-group">
	    <label for="note">Cheque Front:</label>
	    <form action="http://54.174.101.160/upload.php" method="post" enctype="multipart/form-data">
		    <input type="file" name="fileToUpload" id="fileToUpload">
		</form>
	  </div>

	  <div class="form-group">
	    <label for="note">Cheque Back:</label>
	    <form action="http://54.174.101.160/upload.php" method="post" enctype="multipart/form-data">
		    <input type="file" name="fileToUpload" id="fileToUpload2">
    		<input type="submit" value="Verify Photos &amp; Deposit Cheque" name="submit" style="margin-top:10px">
		</form>
	  </div>
	</form>
</div>