<table style="width:100%">
  <tr>
    <td align="center"><img id="icon" src="/img/accounts.png"></td>
    <td align="center"><img id="icon" src="/img/transfers.png"></td>
    <td align="center"><img id="icon" src="/img/send-money.png"></td>
  </tr>
  <tr>
    <td style="text-align: center">Accounts</td>
    <td style="text-align: center">Transfers</td>
    <td style="text-align: center">Send Money</td>
  </tr>
  <tr>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
  </tr>
  <tr>
    <td align="center"><img id="icon" src="/img/bill-payments.png"></td>
    <td align="center"><img id="icon" src="/img/calendar.png"></td>		
    <td align="center"><img id="icon" src="/img/deposit-cheque.png"></td>
  </tr>
  <tr>
    <td style="text-align: center">Bill Payment</td>
    <td style="text-align: center">Calendar</td>		
    <td style="text-align: center">Deposit Cheque</td>
  </tr>
  <tr>
    <td align="center"><img id="icon" src="/img/profile.png"></td>
    <td align="center"><img id="icon" src="/img/legal.png"></td>		
    <td align="center"><img id="icon" onClick="openLayer('/Help/index.html')" src="/img/help.png"></td>
  </tr>
  <tr>
    <td style="text-align: center">Profile</td>
    <td style="text-align: center">Legal</td>  
    <td style="text-align: center">Help</td>
  </tr>
</table>
