<table style="width:100%">
	<tr>
		<th style="background-color:#b2b2b2;padding:5px;height:10px;">Banking</th>
		<th style="background-color:#b2b2b2;text-align:center;padding:5px;height:10px;">Balance</th>
	</tr>
</table>

<div id="Banking Accounts">
</div>

<table style="width:100%">
	<tr>
		<th style="background-color:#b2b2b2;padding:5px;height:10px;">Credit</th>
		<th style="background-color:#b2b2b2;text-align:right;padding:5px;height:10px;">Balance</th>
	</tr>
</table>

<div id="Credit Accounts">
</div>

<table style="width:100%">
	<tr>
		<th style="background-color:#b2b2b2;padding:5px;height:10px;">Investment</th>
		<th style="background-color:#b2b2b2;text-align:right;padding:5px;height:10px;">Balance</th>
	</tr>
</table>

<div id="Investment Accounts">
</div>